/vendor
/node_modules

/public/build
/public/hot
/public/storage

/bootstrap/ssr

/storage/*.key
/storage/pail

/.phpunit.cache
.phpunit.result.cache

.env
.env.*
!.env.example

/auth.json

npm-debug.log
yarn-error.log
pnpm-debug.log

.DS_Store
Thumbs.db

/.fleet
/.idea
/.nova
/.vscode
/.zed

.phpactor.json

Homestead.json
Homestead.yaml

/resources/js/actions
/resources/js/routes
/resources/js/wayfinder